<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
        <link rel="stylesheet" href="./carrito.css">
        <title>Document</title>
</head>

<body>
    <%- include('partials/navigation') %>
        <div class="header">
            <div class="circle">
                <a href="/menu"><span class="material-symbols-outlined">arrow_back_ios</span></a>
            </div>

            <h1>Carrito</h1>

            <img class="logo" src="/img/logopng copy.png" alt="">

        </div>

        <div class="carrito-container">
            <h1>Carrito de Compras</h1>
            <div class="carrito-items">
                <!-- Aquí se añadirán los productos -->
            </div>
            <div class="carrito-total">
                <h2>Total: <span id="total-precio">S/0.00</span></h2>
            </div>
            <div class="carrito-actions">
                <button class="btn vaciar-carrito">Vaciar Carrito</button>
                <button id="comprar-button" class="btn comprar"><a href="/pago">Comprar</a></button>
            </div>
        </div>

        <div class="footer2">

            <a href="#" class="icono2">
                <i class="fas fa-home"></i>
            </a>
            <a href="#" class="icono2">
                <i class="fas fa-search"></i>
            </a>
            <a href="/carrito" class="icono2">
                <i class="fas fa-shopping-cart"></i>
                <span id="contador-carrito" class="badge"></span>
            </a>
            <a href="#" class="icono2">
                <i class="fas fa-user"></i>
            </a>

        </div>
        <%- include('partials/bot') %>
        <%- include('partials/footer') %>

        <script src="/js/carrito.js"></script>

</body>

</html>