<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="./entradas.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navigation') %>
    <div class="header">
        <div class="circle">
            <a href="/entradas"><span class="material-symbols-outlined">arrow_back_ios</span></a>
        </div>

        <h1>Nuestros Platos Criollos</h1>

        <img class="logo" src="/img/logopng copy.png" alt="">

    </div>

    <section>

        <div class="search-container">
            <input type="text" id="search" name="search" placeholder="Buscar...">
        </div>

        <div class="buttons">

            <button>Especialidad</button>

            <button>Favoritos</button>

            <button>Gourmet</button>

        </div>

    </section>

    <div class="dishes">
        <div class="line-dishes">
            <div class="dish">
                <div class="star">
                    <div class="star-image"></div>
                </div>
    
                <img src="/img/lomo-saltado.jpg" alt="Lomo Saltado" />
    
                <div class="description-dishes">
                    <p>S/20.00</p>
                    <h2>Lomo Saltado</h2>
                    <span class="short-description">Delicioso plato con trozos de lomo de res, cebolla, tomate, papas fritas y arroz, todo salteado al wok.</span>
                    <button onclick="agregarcarrito('Lomo Saltado',20.00,'/img/lomo-saltado.jpg')">Pedir Ahora</button>
                </div>
            </div>
    
            <div class="dish">
                <div class="star">
                    <div class="star-image"></div>
                </div>
    
                <img src="/img/aji-gallina.png" alt="Aji de Gallina" />
    
                <div class="description-dishes">
                    <p>S/15.00</p>
                    <h2>Aji de Gallina</h2>
                    <span class="short-description">Pollo desmenuzado en una suave y cremosa salsa de ají amarillo, acompañado de arroz blanco.</span>
                    <button onclick="agregarcarrito('Aji de Gallina',15.00,'/img/aji-gallina.png')">Pedir Ahora</button>
                </div>
            </div>
        </div>
    
        <div class="line-dishes">
            <div class="dish">
                <div class="star">
                    <div class="star-image"></div>
                </div>
    
                <img src="/img/arroz-pollo.png" alt="Arroz con Pollo" />
    
                <div class="description-dishes">
                    <p>S/15.00</p>
                    <h2>Arroz con Pollo</h2>
                    <span class="short-description">Un clásico de la gastronomía peruana: arroz con pollo sazonado con cilantro.</span>
                    <button onclick="agregarcarrito('Arroz con Pollo',15.00,'/img/arroz-pollo.png')">Pedir Ahora</button>
                </div>
            </div>
    
            <div class="dish">
                <div class="star">
                    <div class="star-image"></div>
                </div>
    
                <img src="/img/carapulcra.png" alt="Carapulcra" />
    
                <div class="description-dishes">
                    <p>S/20.00</p>
                    <h2>Carapulcra</h2>
                    <span class="short-description">Guiso a base de papa seca, cerdo y especias, con un toque de ají panca. ¡Un sabor único!</span>
                    <button onclick="agregarcarrito('Carapulcra',20.00,'/img/carapulcra.png')">Pedir Ahora</button>
                </div>
            </div>
        </div>
    
        <div class="line-dishes">
            <div class="dish">
                <div class="star">
                    <div class="star-image"></div>
                </div>
    
                <img src="/img/cau-cau.png" alt="Cau Cau" />
    
                <div class="description-dishes">
                    <p>S/15.00</p>
                    <h2>Cau Cau</h2>
                    <span class="short-description">Plato tradicional peruano con mondongo, papas y una salsa amarilla especiada con ají amarillo.</span>
                    <button onclick="agregarcarrito('Cau Cau',15.00,'/img/cau-cau.png')">Pedir Ahora</button>
                </div>
            </div>
    
            <div class="dish">
                <div class="star">
                    <div class="star-image"></div>
                </div>
    
                <img src="/img/rocoto-relleno.png" alt="Rocoto Relleno" />
    
                <div class="description-dishes">
                    <p>S/25.00</p>
                    <h2>Rocoto Relleno</h2>
                    <span class="short-description">Rocoto picante relleno con carne molida, cebolla y queso, luego horneado hasta dorarse.</span>
                    <button onclick="agregarcarrito('Rocoto Relleno',25.00,'/img/rocoto-relleno.png')">Pedir Ahora</button>
                </div>
            </div>
        </div>
    </div>

    <div class="footer2">

        <a href="#" class="icono2">
            <i class="fas fa-home"></i>
        </a>
        <a href="#" class="icono2">
            <i class="fas fa-search"></i>
        </a>
        <a href="/carrito" class="icono2">
            <i class="fas fa-shopping-cart"></i>
            <span id="contador-carrito" class="badge"></span>
        </a>
        <a href="#" class="icono2">
            <i class="fas fa-user"></i>
        </a>
  
    </div>
    <%- include('partials/bot') %>
    <%- include('partials/footer') %>
     
    <script src="/js/carrito.js"></script>
</body>

</html>