<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="./entradas.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navigation') %>
    <div class="header">
        <div class="circle">
            <img class="arrow" src="/img/arrow2.png" alt="Arrow">
        </div>

        <h1>Nuestros Platos Criollos</h1>

        <img class="logo" src="/img/logopng copy.png" alt="">

    </div>

    <section>

        <div class="search-container">
            <input type="text" id="search" name="search" placeholder="Buscar...">
        </div>

        <div class="buttons">

            <button>Especialidad</button>

            <button>Favoritos</button>

            <button>Gourmet</button>

        </div>

    </section>

    <div class="dishes">

        <div class="line-dishes">

            <div class="dish">

                <div class="star">
                    <div class="star-image"></div>
                </div>

                <img src="/img/lomo-saltado.png" alt="">

                <div class="description-dishes">
                    <p>S/20.00</p>

                    <h2>Lomo Saltado</h2>

                    <button> Pedir Ahora </button>
                </div>
            </div>

            <div class="dish">

                <div class="star">
                    <div class="star-image"></div>
                </div>

                <img src="/img/aji-gallina.png" alt="">


                <div class="description-dishes">
                    <p>S/15.00</p>

                    <h2>Aji de gallina</h2>

                    <button> Pedir Ahora </button>
                </div>


            </div>


        </div>


        <div class="line-dishes">

            <div class="dish">

                <div class="star">
                    <div class="star-image"></div>
                </div>

                <img src="/img/arroz-pollo.png" alt="">

                <div class="description-dishes">
                    <p>S/15.00</p>

                    <h2>Arroz con pollo</h2>

                    <button> Pedir Ahora </button>
                </div>

            </div>

            <div class="dish">

                <div class="star">
                    <div class="star-image"></div>
                </div>

                <img src="/img/carapulcra.png" alt="">

                <div class="description-dishes">
                    <p>S/20.00</p>

                    <h2>Carapulcra</h2>

                    <button> Pedir Ahora </button>
                </div>


            </div>


        </div>


        <div class="line-dishes">

            <div class="dish">

                <div class="star">
                    <div class="star-image"></div>
                </div>

                <img src="/img/cau-cau.png" alt="">

                <div class="description-dishes">
                    <p>S/15.00</p>

                    <h2>Cau Cau</h2>

                    <button> Pedir Ahora </button>

                </div>

            </div>

            <div class="dish">

                <div class="star">
                    <div class="star-image"></div>
                </div>

                <img src="/img/rocoto-relleno.png" alt="">

                <div class="description-dishes">
                    <p>S/25.00</p>

                    <h2>Rocoto relleno</h2>

                    <button> Pedir Ahora </button>
                </div>

            </div>


        </div>


    </div>


    <div class="footer2">

        <a href="#" class="icono2">
            <i class="fas fa-home"></i>
        </a>
        <a href="#" class="icono2">
            <i class="fas fa-search"></i>
        </a>
        <a href="#" class="icono2">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge">3</span>
        </a>
        <a href="#" class="icono2">
            <i class="fas fa-user"></i>
        </a>
  
    </div>
    <%- include('partials/footer') %>

</body>

</html>