<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/head') %>
    <link rel="stylesheet" href="./promociones.css">
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/navigation') %>
    <div class="header">
      <div class="circle">
        <a href="/platos"><span class="material-symbols-outlined">arrow_back_ios</span></a>
      </div>

      <h1>Promociones</h1>

      <img class="logo" src="/img/logopng copy.png" alt="" />
    </div>

    
    <div id="mostrarPlatos" class="platos">

    </div>

    <%- include('partials/bot') %>
    <%- include('partials/footer') %>
    <script>
      async function getPlatos() {
        try {
          const response = await fetch("https://peruanitopage.onrender.com/api/get-platos", {
            method: "GET",
            headers: {
              "Content-Type": "application/json",
            },
          });
          const platos=await response.json();
          const mostrarPlatosDiv = document.getElementById("mostrarPlatos");
          platos.forEach(plato => {
            const platoDiv = document.createElement("div");
            platoDiv.classList.add("col-md-4", "mb-4");
            platoDiv.innerHTML = `
             <div class="card" style="width: 18rem;">
                                <img src="${plato.url}" class="imagen" alt="${plato.url}">
                                <div class="card-body">
                                     <h1 class="precio">S/.${plato.precio}</h1>
                                    <h5 class="card-title">${plato.nombre}</h5>
                                    <p class="card-text">${plato.descripcion}</p>
                                    <button class="boton ">Pedir ahora</button>
                                </div>
                            </div>


            `;

            mostrarPlatosDiv.appendChild(platoDiv);
          });
            



        } catch (error) {
          console.error("Error al traer los platos", error);
        }
      }

      getPlatos();
    </script>

   


  </body>
</html>
