* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Añadido para evitar que los márgenes y rellenos afecten al tamaño total */
}

body {
    background-color: #FFECEC;
}

.header {
    background-image: url('/img/header-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px 40px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
}
.header h1 {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
}
.circle {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.arrow {
    width: 80%;
    height: auto;
}

.logo {
    width: 8%;
    height: auto;
}

section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.search-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input {
    width: 80%;
    height: 39px;
    border-radius: 40px;
    margin: 30px 50px;
}

.buttons {
    display: flex;
    gap: 50px;
}

.buttons button {
    width: 200px;
    height: 44px;
    border-radius: 16px;
    background-color: #ED9544;
    font-family: 'Open Sans';
    font-size: 13px;
    font-style: italic;
    font-weight: 900;
    text-align: center;
    color: #FFFFFF;
}

button:hover {
    background-color: #f7b271;
}

.dishes {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin: 30px 0px;
}

.line-dishes {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dish {
    position: relative;
    width: 30%;
    height: 550px;
    background-color: #ED9544;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.description-dishes {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 5px;
    align-items: flex-start;
    width: 50%;
}

.description-dishes p {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 5px;
}

.description-dishes h2 {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: #060505;
}

.description-dishes button {
    width: 200px;
    height: 40px;
    padding: 12px 16px 12px 16px;
    gap: 8px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background-color: #180E04;
    border: none;
}

.star {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.star-image {
    width: 50%;
    height: 50%;
    background-color: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.dish img {
    width: 100%;
    height: 400px;
    border-radius: 8px;
    margin-right: 20px;
}

.footer2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    color: white;
    padding: 15px 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.icono2{
    color: black;
    font-size: 24px;
    text-decoration: none;
    position: relative;
}

.icono2:hover {
    color: #ED9544;
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: black;
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1300px) {

    .dish {
        width: 35%;
        /* Aumenta el tamaño de los platos en pantallas pequeñas */
        height: auto;
    }

    .buttons {
        flex-direction: row;
        gap: 30px;
    }

    .dish img {
        width: 100%;
        height: 300px;
    }

    .buttons button {
        width: 170px;
        font-size: 12px;
    }
}

/* Media Queries */
@media (max-width: 768px) {
    .header {
        flex-direction: row;
        padding: 20px;
    }

    .header h1 {
        font-size: 20px;
    }

    .circle {
        width: 40px;
        height: 40px;
    }

    .arrow {
        width: 20px;
        height: 20px;
    }

    .line-dishes {
        flex-direction: row;
        gap: 20px;
    }

    .buttons {
        flex-direction: row;
        gap: 10px;
    }

    .logo {
        width: 15%;
        height: auto;
    }

    .buttons button {
        width: 120px;
        font-size: 10px;
    }

    .dish {
        width: 60%;
        /* Aumenta el tamaño de los platos en pantallas pequeñas */
        height: auto;
    }

    .dish img {
        width: 100%;
        height: 250px;
    }

    .description-dishes {
        width: 100%;
        /* Hace que la descripción ocupe el 100% del espacio */
    }

    .search-container {
        width: 90%;
    }

    .search-container input {
        width: 100%;
    }

    .footer {
        flex-direction: row;
        padding: 10px;
    }

    .icono {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .dish {
        width: 50%;
        height: auto;
    }

    .header h1 {
        font-size: 15px;
    }

    .buttons {
        flex-direction: row;
        gap: 15px;
    }

    .logo {
        width: 15%;
        height: auto;
    }

    .dish img {
        width: 100%;
        height: 200px;
    }

    .buttons button {
        width: 110px;
        font-size: 10px;
    }

    .description-dishes p {
        font-size: 15px;

    }

    .description-dishes h2 {
        font-size: 16px;
    }

    .description-dishes button {
        font-size: 8px;
        width: 80px;
        height: 40px;
    }

    .search-container {
        width: 100%;
    }

    .search-container input {
        width: 100%;
    }

    .line-dishes {
        flex-direction: row;
        gap: 10px;
    }

    .footer {
        padding: 10px 0;
    }

    .icono{
        font-size: 18px;
    }

    .badge {
        font-size: 10px;
        width: 18px;
        height: 18px;
    }


}